@charset "UTF-8";

/*
Author: jibin
Author URI: http://www.houjibin.com/
Author mail: gagucooper@gmail.com
Version: 1.0
Last Updated: 2013-05-09
-------------------------------------------------------------- */

/*
 
1. GLOBAL STYLES
-------------------------------------------------------------------
1.0 Common
 
 
2. MAIN PAGE ELEMENTS
-------------------------------------------------------------------
2.1 Header
	2.1.1 Logo
	2.1.2 Nav
2.2 Container
	2.2.1 Banner
	2.2.2 Modules
	2.2.3 Tabs
	2.2.4 Menu
	2.2.5 Crumbs
	2.2.6 List
	2.2.7 Page
	2.2.8 Form
	2.2.9 details
2.3 Footer

*/


/* 1.0 Common
----------------------------------------------- */
.block { display: block; }
.hidden { display: none; }
.overflow { overflow: hidden; }
.inline { display: inline; }
.inline-block { display: -moz-inline-stack; display: inline-block; -webkit-text-size-adjust: none; /* for chrome zh_CN 解决间隙 */ font-size: 0; *display: inline; zoom: 1; }

.pos-rel { position: relative; }
.pos-abs { position: absolute; }

.fl { float: left; }
.fr { float: right; }
.fn { float: none; }
.al { text-align: left; }
.ac { text-align: center; }
.ar { text-align: right; }
.at { vertical-align: top; }
.am { vertical-align: middle; }
.ab { vertical-align: bottom; }

.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; font-size: 0; line-height: 0; }
.cf:before, .cf:after { content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.cf:after { clear: both; }
.cf { zoom: 1; }

.color-gold { color: #723300; }
.color-red { color: #F02813; }
.color-gray2 { color: #999; }
.link-gray a { color: #999; }
.link-blue a { color: #36c; }
.txt-i2 { text-indent: 2em; }

.font-14 { font-size: 14px; }

.mt-10 { margin-top: 10px; }
.mt-20 { margin-top: 20px; }
.mb-8 { margin-bottom: 8px; }
.mb-10 { margin-bottom: 10px; }
.mb-12 { margin-bottom: 12px; }
.mb-15 { margin-bottom: 15px; }
.mb-20 { margin-bottom: 20px; }
.pb-15 { padding-bottom: 15px; }
.pd-6 { padding: 6px; }
.pd-8 { padding: 8px; }
.pd-10 { padding: 10px; }
.mt-15 { margin-top: 15px; }
.border-gray { border-bottom: 1px solid #ccc; }
.bborder-gray { border-bottom: 1px solid #ddd; }
.bborder-gray2 { border-bottom: 1px dotted #dcdddd; }
.border-gray { border: 1px solid #D3D4D3; }
.border-r3 { border-radius: 3px; }
.h-273 { min-height: 273px; }
.h-480 { min-height: 480px; }

.ie6 #nav ul li a, .ie6 .num li a, .ie6 .guide-ego a, .ie6 .egoweb p a, .ie6 .buyinfo p a, .ie6 .business-card li {
	display: inline; /* 解决ie6双间距bug */
}

/*
2. MAIN PAGE ELEMENTS
------------------------------------------------------------------- */
body { 
	width: 100%;
	height: 100%;
	color: #2b2b2b;
	background: #FEF9E5 url(../images/bg-body.png) repeat-x top center;
}

.wrapper {
	width: 100%;
}
.gridsystem {
	width: 980px;
	margin: 0 auto;
}
.grid-1 {
	width: 188px;
}
.grid-1-1 {
	width: 226px;
}
.grid-2 {
	width: 384px;
}
.grid-2-2 {
	width: 366px;
}
.grid-3 {
	width: 780px;
}
.grid-3-3 {
	width: 742px;
}
.grid-4 {
	width: 770px;
}
.grid-5 {
	width: 470px;
}

/* 2.1 Header
----------------------------------------------- */
#header {
	height: 142px;
}
.header-top {
	height: 99px;
	overflow: hidden;
	background: url(../images/tel.png) no-repeat right 2px;
}
.ie6 .header-top {
	height: 100px;
}

/* 2.1.1 Logo
--------------------------- */
#logo {
    width: 240px;
    height: 78px;
    float: left;
    position: relative;
    left: 0;
    top: 10px;
}
.head-banner {
	width: 445px;
	height: 75px;
	overflow: hidden;
	float: left;
	margin: 12px 0 0 25px;
}

/* 2.1.2 Nav
--------------------------- */
#nav {
	height: 40px;
	line-height: 40px;
	background: #FDF7DD url(../images/bg-nav.png) repeat-x 0 0;
	border-radius: 5px 5px 0 0;
	border: 1px solid #cba57e;
	border-bottom: 0 none;
}
.ie6 #nav {
	border: 0 none;
}
#nav ul li {
	float: left;
	position: relative;
}
#nav ul li a {
	float: left;
	width: 96px;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	text-align: center;
	margin-right: 1px;
	color: #661F00;
	font-size: 16px;
	font-weight: bold;
	display: block;
	text-shadow: 0 1px 1px #ccc;
}
#nav ul li a:hover, #nav ul li a.acitve {
	color: #fff;
	text-shadow: 0 1px 1px #000;
	text-decoration: none;
	background: url(../images/bg-nav.png) repeat-x 0 -40px;
}
#nav ul li ul {	
	position: absolute;
	visibility: hidden;
	background: #FEFCF4;
    border: 1px solid #cba57e;
    left: -14px;
    padding: 2px;
    position: absolute;
    top: 40px;
    width: 120px;
    box-shadow: 1px 1px 3px #333;
}
#nav ul li ul li {	
	float: none;
	border-bottom: 1px solid #ccc;
	text-align: center;
}
#nav ul li ul li:last-child {	
	border-bottom: 0 none;
}
#nav ul li ul li a {	
	width: 120px;
	float: none;
	color: #723300;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	font-weight: bold;
	display: block;
	margin-right: 0;
	text-shadow: 0 1px 1px #ddd;
}
#nav ul li ul li a:hover {
	color: #fff;
	text-shadow: 0 1px 1px #000;
	text-decoration: none;
	background: url(../images/bg-nav.png) repeat-x 0 -40px;
}

/* 2.2 Container
----------------------------------------------- */
#container {
	margin-bottom: 12px;
}
.main-wrap {
	background: url(../images/bg-main.gif) repeat-x top center;
}
.container-wrap {
	background: #fff;
	padding: 6px;
}
.topmenu {
	background: #F3F7FB;
    border: 1px solid #CAD9E3;
    padding-bottom: 20px;
}
.topmenu dl dt {
    background: url(../images/bg-topmenu.gif) no-repeat top;
    color: #723300;
    font-size: 20px;
    height: 30px;
    padding: 14px 5px 14px 45px;
}
.topmenu dl dd a {
    color: #723300;
    display: block;
    font-size: 16px;
    height: 38px;
    line-height: 38px;
    padding-left: 48px;
    padding-right: 12px;
    width: 126px;
    margin-bottom: 1px;
    background: url(../images/icon-topmenu.gif) no-repeat -100px 51%;
}
.ie6 .topmenu dl dd a {
    margin-bottom: 0;
}
.topmenu dl dd.active a, .topmenu dl dd a:hover {
    background: #DCBD0F url(../images/icon-topmenu.gif) no-repeat 170px 51%;
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px 3px #333;
}
.subbanner {
	width: 770px;
	height: 123px;
	overflow: hidden;
}

/* 2.2.1 Banner
--------------------------- */
.top-wrap {
	position: relative;
	z-index: 2;
}
.banner-wrap {
	background: #FDE1AD;
	position: relative;
	z-index: 1;
}
.banner-pd {
	height: 200px;
	width: 966px;
	padding: 7px;
	overflow: hidden;
	background: #fff;
}
.banner-index {
	height: 200px;
	width: 966px;
	overflow: hidden;
	position: relative;
}

.slider { 
	position: absolute;
	width: 10000px; 
}
.slider li { 
	float:left; 
}
.slider img { 
	width: 966px; 
	height: 200px; 
	display: block; 
}
.num { 
	position: absolute; 
	left: 50%; 
	bottom: 0;
	width: 160px;
	height: 23px;
	margin-left: -80px;
	padding-left: 30px;
	overflow: hidden;
}
.num li {
	float: left;
}
.num li a {
	float: left;
	display: block;
	width: 13px;
	height: 13px;
	overflow: hidden;
	margin: 6px;
	background: url(../images/banner-point.png) no-repeat 0 -37px;
	text-indent: -9999px;
}
.num li.on a {
	background: url(../images/banner-point.png) no-repeat 0 0;
}

.infobar-index {
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: #EE1D24;
}
.icon-notice {
	background: url(../images/icon-notice.png) no-repeat 0 7px;
	padding-left: 24px;
	font-weight: bold;
	padding-right: 10px;
}
.infobar-news {
	width: 820px;
}
.scrollable-news a {
    color: #EE1D24;
}
.scrollable-news a:hover {
    color: #000;
}
.scrollable-news span {
	padding: 0 5px;
}
.scrollmore a {
	color: #838484;
}

.scrollable {
	position: relative;
	overflow: hidden;
	width: 852px;
	height: 66px;
	float: left;
}
.scrollable .items {
	width: 20000em;
	position: absolute;
}
.items div {
	float: left;
}
.scrollable img {
    float: left;
    margin: 10px 0 10px 26px;
    border: 1px solid #ddd;
    width: 90px;
    height: 50px;
}
.icon-view {
    background: url(../images/icon-view.png) no-repeat;
    display: block;
    width: 14px;
    height: 19px;
    overflow: hidden;
    float: left;
    margin-top: 28px;
    text-indent: -9999px;
}
.icon-prev {
    background-position: 0 0;
}
.icon-next {
    background-position: 0 -19px;
}

.infobar-news .infobar-news-view {
	float: left;
}
.infobar-news .prev {
	margin-right: 10px;
}
.infobar-news .next {
	margin-left: 10px;
}
.infobar-news .scrollable-news {
	position: relative;
	overflow: hidden;
	width: 800px;
	height: 30px;
	float: left;
	overflow: hidden;
}
.scrollable-news .items {
	width: 20000em;
	position: absolute;
}
.scrollable-news .items div {
	float: left;
	width: 800px;
}
/*
a.disabled {
    visibility: hidden !important;
}
*/

.scrollable-sidebar {
	position:relative;
	overflow:hidden;
	height: 690px;
  	width: 170px;
}
.scrollable-sidebar .items {
	position:absolute;
	height:20000em;
}
.scrollable-sidebar-up, .scrollable-sidebar-down {
	background: #fff url(../images/icon-slide2.png) no-repeat;
    display: block;
    width: 170px;
    height: 14px;
    overflow: hidden;
    text-indent: -9999px;	
}
.scrollable-sidebar-up {
	background-position: center 0;
	margin-bottom: 5px;
}
.scrollable-sidebar-down {
	background-position: center -20px;
}


/* scroll pic */
#image_wrap {
    width:700px;
    padding:15px 0;
    text-align:center;
    background: #efefef;
    border: 2px solid #fff;
    outline: 1px solid #ddd;
    border-radius: 4px;
}
.scrollable-pic {
    position:relative;
    overflow:hidden;
    width: 550px;
    height:120px;
    border:1px solid #ccc;
    background:url(../images/scroll/h300.png) repeat-x;
}
.scrollable-pic .items {
    width:20000em;
    position:absolute;
    clear:both;
}
.scrollable-pic .items div {
    float:left;
    width:680px;
}
.scrollable-pic img {
    float:left;
    margin:20px 5px 20px 21px;
    background-color:#fff;
    padding:2px;
    border:1px solid #ccc;
    width:100px;
    height:75px;
    border-radius: 4px;
}
.scrollable-picwrap .active {
    border:2px solid #723300;
    position:relative;
    cursor:default;
}
.scrollable-picwrap a.browse {
    background:url(../images/scroll/hori_large.png) no-repeat;
    display:block;
    width:30px;
    height:30px;
    float:left;
    margin:40px 10px;
    cursor:pointer;
    font-size:1px;
}
.scrollable-picwrap a.right { background-position: 0 -30px; clear:right; margin-right: 0px;}
.scrollable-picwrap a.right:hover { background-position:-30px -30px; }
.scrollable-picwrap a.right:active { background-position:-60px -30px; }
.scrollable-picwrap a.left { margin-left: 0px; }
.scrollable-picwrap a.left:hover  { background-position:-30px 0; }
.scrollable-picwrap a.left:active { background-position:-60px 0; }
.scrollable-picwrap a.up, .scrollable-picwrap a.down  {
    background:url(../images/scroll/vert_large.png) no-repeat;
    float: none;
    margin: 10px 50px;
}
.scrollable-picwrap a.up:hover { background-position:-30px 0; }
.scrollable-picwrap a.up:active { background-position:-60px 0; }
.scrollable-picwrap a.down { background-position: 0 -30px; }
.scrollable-picwrap a.down:hover { background-position:-30px -30px; }
.scrollable-picwrap a.down:active { background-position:-60px -30px; }
.scrollable-picwrap a.disabled {
    visibility:hidden !important;
}

.navi {
    height: 20px;
    margin-left: 328px;
    width: 200px;
}
.navi a {
    background: url(../images/scroll/navigator.png) no-repeat 0 0;
    display: block;
    float: left;
    font-size: 1px;
    height: 8px;
    margin: 3px;
    width: 8px;
}
.navi a:hover {
    background-position: 0 -8px;
}
.navi a.active {
    background-position: 0 -16px;
}


/* 2.2.2 Modules
--------------------------- */
.mod {
	border: 1px solid #C9D9E3;
	background: #fff;
	border-radius: 3px;
}
.mod2 {
	border: 1px solid #F0DDB0;
	background: #fff;
	border-radius: 3px;
}

.mod .hd {
	height: 34px;
	line-height: 34px;
	background: url(../images/bg-common.png) repeat-x 0 -268px;
	text-align: right;
	padding-right: 20px;
}
.mod .hd .more, .hd4 .more {
	font-size: 10px;
}
.mod .hd .more a {
	color: #999;
}

.mod .hd h2 {
	font-size: 14px;
	color: #fff;
	height: 34px;
	width: 252px;
	overflow: hidden;
	text-align: left;
	text-indent: 10px;
	border-radius: 3px 0 0 0;
	background: url(../images/bg-arrows.png) no-repeat 0 0;
	position: relative;
	top: -1px;
	left: -1px;
	float: left;
}

.hd2 {
	background: url(../images/bg-hd2.gif) repeat-x 0 0;
	border-bottom: 1px solid #C9D9E3;
    height: 26px;
    line-height: 26px;
}
.hd2 h2 {
	color: #792600;
	font-size: 14px;
	font-weight: bold;
	padding-left: 10px;
}

.hd3 {
	border-bottom: 2px solid #CBA57E;
    height: 25px;
    line-height: 25px;
    margin-bottom: 5px;
}
.hd3 h2 {
	padding-left: 18px;
	color: #792600;
	font-size: 14px;
	font-weight: bold;
	background: url(../images/icon-arrows.gif) no-repeat 5px 50%;
}
.hd2 .more, .hd3 .more {
	font-size: 14px;
	position: relative;
	top: 0;
	right: 10px;
}
.hd2 .more a, .hd3 .more a {
	color: #6C6A5D;
}

.mod4 {
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.mod5 {
	background: #fff;
}
.hd5 {
    border-bottom: 2px solid #ccc;
    height: 26px;
    line-height: 32px;
    padding-bottom: 4px;
}
.hd5 h2 {
	color: #980000;
	font-size: 14px;
	font-weight: bold;
	padding-left: 10px;
	width: 200px;
}

.topmain {
	background: #FEFCF4;
    border-bottom: 1px solid #F6EACE;
    height: 110px;
    overflow: hidden;
}
.features {
	border: 1px solid #C9D9E3;
	margin-bottom: 8px;
}
.features ul li {
	float: left;
}
.features ul li a {
    background: #C9D9E3 url(../images/icon-features.png) no-repeat;
    display: block;
    height: 66px;
    overflow: hidden;
    text-indent: -99999px;
}
.features ul li.mr-ksdh1 a {
    background-position: 0 0;
    width: 145px;
}
.features ul li.mr-ksdh2 a {
    background-position: -145px 0;
    width: 138px;
}
.features ul li.mr-ksdh3 a {
    background-position: -283px 0;
    width: 136px;
}
.features ul li.mr-ksdh4 a {
    background-position: -419px 0;
    width: 148px;
}
.features ul li.mr-ksdh5 a {
    background-position: -568px 0;
    width: 135px;
}
.features ul li.mr-ksdh6 a {
    background-position: -702px 0;
    width: 146px;
}
.features ul li.mr-ksdh7 a {
    background-position: -848px 0;
    width: 130px;
}
.features ul li.mr-ksdh1 a:hover {
    background-position: 0 -66px;
    width: 145px;
}
.features ul li.mr-ksdh2 a:hover {
    background-position: -145px -66px;
    width: 138px;
}
.features ul li.mr-ksdh3 a:hover {
    background-position: -283px -66px;
    width: 136px;
}
.features ul li.mr-ksdh4 a:hover {
    background-position: -419px -66px;
    width: 148px;
}
.features ul li.mr-ksdh5 a:hover {
    background-position: -568px -66px;
    width: 135px;
}
.features ul li.mr-ksdh6 a:hover {
    background-position: -702px -66px;
    width: 146px;
}
.features ul li.mr-ksdh7 a:hover {
    background-position: -848px -66px;
    width: 130px;
}

/* 2.2.3 Tabs
--------------------------- */
.ui-tabs {
    height: 34px;
    background: url(../images/bg-common.png) repeat-x 0 -302px;
}
.ui-tabs li {
    float: left;
    border-right: 1px solid #ccc;
}
.ui-tabs li:last-child {
	border-right: 0 none;
}
.ui-tabs a {
	float: left;
    background: url(../images/bg-common.png) repeat-x 0 -302px;
    color: #000;
    display: block;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    width: 88px;
    text-align: center;
}
.ui-tabs a.current, .ui-tabs a:hover {
    background: url(../images/bg-common.png) repeat-x 0 -336px;
    text-decoration: none;
}
.ui-tabs a.current {
    cursor: default;
    font-weight: bold;
}
.ui-tabs-panes {
	padding: 10px 14px;
}
.ui-tabs-panes ul {
	min-height: 124px;
}
.news .bd ul li {
	border-bottom: 1px dotted #ddd;
	padding: 6px 5px 6px 24px;
    background: url(../images/icon-common.png) no-repeat 5px -54px;
}
.ui-tabs-panes p {
	padding: 9px 5px 0 0;
}

.ui-tabs2 {
    height: 30px;
}
.ui-tabs2 li {
    float: left;
}
.ui-tabs2 a {
	float: left;
    color: #333;
    display: block;
    height: 30px;
    line-height: 24px;
    padding: 0 10px;
    font-weight: bold;
    position: relative;
    font-size: 14px;
    top: 5px;
    background: url(../images/bg-current.png) no-repeat 500% 100%;
}
.ui-tabs2 a.current, .ui-tabs2 a:hover {
    background: url(../images/bg-current.png) no-repeat 50% 100%;
    text-decoration: none;
    color: #EF3131;
}
.ui-tabs2 a.current {
    cursor: default;
}
.ui-tabs-panes2, .ui-tabs-panes3, .ui-tabs-panes4, .ui-tabs-panes5 {
	padding: 10px;
}

/* 2.2.4 Menu
--------------------------- */
.sidebar-menu {
	border: 1px solid #CEDCE6;
}
.sidebar-menu ul li {
	border-bottom: 1px solid #CEDCE6;
    font-size: 16px;
    height: 45px;
    line-height: 45px;
	background: #fff url(../images/bg-sidebar.gif) repeat-x bottom;
}
.sidebar-menu ul li:last-child {
	border-bottom: 0 none;
}
.sidebar-menu ul li a {
    background: url(../images/icon-sidebar.gif) no-repeat 5px 3px;
    display: block;
    height: 45px;
    padding-left: 60px;
}
.sidebar-menu ul li a:hover {
    text-decoration: none;
}
.sidebar-menu ul li.ksdh1 a {
    background-position: 5px -292px;
}
.sidebar-menu ul li.ksdh2 a {
    background-position: 5px -351px;
}
.sidebar-menu ul li.ksdh3 a {
    background-position: 5px -410px;
}
.sidebar-menu ul li.ksdh4 a {
    background-position: 5px -468px;
}
.sidebar-menu ul li.ksdh5 a {
    background-position: 5px -527px;
}
.sidebar-menu ul li.ksdh1 a:hover {
    background-position: 5px 3px;
}
.sidebar-menu ul li.ksdh2 a:hover {
    background-position: 5px -56px;
}
.sidebar-menu ul li.ksdh3 a:hover {
    background-position: 5px -115px;
}
.sidebar-menu ul li.ksdh4 a:hover {
    background-position: 5px -173px;
}
.sidebar-menu ul li.ksdh5 a:hover {
    background-position: 5px -232px;
}

.recommend dl dt {
	line-height: 25px;
    overflow: hidden;
    padding: 5px 2px;
    font-size: 14px;
}
.recommend dl dt a {
	color: #000;
}
.recommend dl dt a:hover {
	color: #723300;
}
.sidebar-contact {
	background: #E8EAEC;
}
.sidebar-contact p {
	line-height: 22px;
    padding: 5px;
    font-size: 14px;
    color: #000;
}

/* 2.2.5 Crumbs
--------------------------- */
.crumbs {
	color: #333;
    font-size: 14px;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    padding: 8px 3px 15px;
}
.crumbs span {
	padding: 0 5px;
}
.crumbs a {
	color: #333;
}
.crumbs a:hover {
	color: #723300;
}

/* 2.2.6 List
--------------------------- */

/* news list */
.analyst {
	padding-bottom: 10px;
}
.analyst ul li {
	width: 185px;
	float: left;
	padding: 10px 0 0 8px;
}
.pic-analyst {
	border: 1px solid #ccc;
	float: left;
	padding: 1px;
	margin-right: 10px;
}

.new-zy {
	padding: 0 0 0 10px;
}
.new-topwrap {
	border-bottom: 1px dotted #ccc;
	padding-bottom: 10px;
	height: 90px;
	overflow: hidden;
}
.pic-news {
	float: left;
	padding: 8px 10px 0 0;
}
.top-news {
	float: right;
	width: 70%;
}
.new-zy h2 {
    font-weight: bold;
    height: 16px;
    line-height: 1.2;
    overflow: hidden;
    padding-top: 5px;
    font-size: 14px;
}
.new-zy h2 a {
    color: #980000;
}
.new-zycont {
    line-height: 1.6;
    margin-top: 5px;
    padding-bottom: 10px;
    color: #666;
    font-size: 14px;
}

.news-list {
	padding-top: 5px;
}
.news-list li {
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    vertical-align: bottom;
    font-size: 14px;
}
.news-list li a {
    background: url(../images/icon-point.gif) no-repeat left center;
    float: left;
    margin-right: 5px;
    padding-left: 12px;
}
.news-list li span {
    float: right;
    padding-right: 5px;
    color: #6B6B6B;
    font-size: 12px;
}

.news-list2 {
	padding-top: 5px;
}
.news-list2 li {
    padding: 10px 0 5px;
    font-size: 14px;
    border-bottom: 1px dotted #ccc;
}
.pro-features .news-list2 li:last-child, .pro-trade .news-list2 li:last-child, .ui-tabs-panes-wrap .news-list2 li:last-child {
	border-bottom: 0 none;
}
.news-list2 .pic-news {
	width: 130px;
	text-align: center;
}
.news-list2 dl {
	float: right;
	padding: 4px 0 0 0;
	width: 78%;
}
.news-list2 dl dt {
	font-weight: bold;
	color: #723300;
	padding-bottom: 5px;
}
.news-list2 dl dt h2 {
	font-size: 14px;
	color: #980000;
}
.news-list2 dl dd {
	padding-bottom: 10px;
}

.news-list3 dt {
	padding-bottom: 10px;
}
.news-list3 dd {
	padding-bottom: 10px;
}

.sub-news .new-zy {
	padding: 10px 20px;
}
.sub-news .new-topwrap {
    height: 130px;
}
.sub-news .new-zy h2 {
    font-size: 16px;
   padding-bottom: 8px;
}
.sub-news .new-zycont {
    line-height: 1.8;
}
.sub-news .news-list li {
    padding: 15px 0;
    border-bottom: 1px dotted #ccc;
}

.research .sub-news .news-list li {
   height: auto;
}
.research .newsinfo {
	font-size: 12px;
	color: #999;
}

.price-wrap {
	width: 360px;
	height: 166px;
	overflow: hidden;
	float: left;
	margin: 10px 0 10px 5px;
}
.ie6 .price-wrap, .ie6 .price-wrap2 {
	display: inline;
}
.price-wrap2 {
	width: 360px;
	height: 166px;
	overflow: hidden;
	margin: 10px 2px;
}

/* sidebar news */
#sidebar .news .hd4 {
	border-bottom: 2px solid #BC010F;
}
#sidebar .news .bd ul li {
	padding-left: 50px;
    background: url(../images/icon-common.png) no-repeat 30px -54px;
}
#sidebar .news .bd ul li:last-child {
	border-bottom: 0 none;
}


/* 2.2.7 Page
--------------------------- */
.paging {
	padding: 20px 10px;
	text-align: center;
	vertical-align: middle;
	font-size: 14px;
}
.paging a {
	color: #666;
	display: inline-block;
	padding: 0 10px;
	height: 24px;
	line-height: 24px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin: 0 4px;
	background: url(../images/bg-common.png) repeat-x 0 -64px;
}
.paging a:hover {
	color: #980000;
	text-decoration: none;
}
.paging a.on {
	color: #fff;
	border: 1px solid #e46403;
	background: url(../images/bg-common.png) repeat-x 0 0;
	text-decoration: none;
}
.paging span {
	padding: 0 6px;
	display: inline-block;
	height: 24px;
	line-height: 24px;
}

/* 2.2.8 Form
--------------------------- */
.form-table {
	width: 100%;
}
.form-table tr th {
	text-align: right;
	font-weight: normal;
	font-size: 14px;
}
.form-table tr td {
	padding: 10px;
	text-align: left;
}
.form-table tr th span {
	color: #c00;
	padding-right: 5px;
}
.input-txt {
	border: 1px solid #ccc;
	background: #fff;
	padding: 5px 3px;
	width: 200px;
	font-size: 14px;
	color: #666;
	border-radius: 3px;
}
.input-txt:focus, .textarea:focus, .select:focus {
	border: 1px solid #CBA57E;
	background: #FEFCF4;
}
.textarea {
	border: 1px solid #ccc;
	background: #fff;
	padding: 5px 3px;
	width: 400px;
	height: 100px;
	font-size: 14px;
	color: #666;
	overflow-y: auto;
	border-radius: 3px;
}
.select {
	border: 1px solid #ccc;
	background: #fff;
	padding: 5px 3px;
	width: 208px;
	font-size: 14px;
	color: #666;
	border-radius: 3px;
}
.btn-submit {
	height: 34px;
	border: 1px solid #ccc;
	background: url(../images/bg-common.png) repeat-x 0 -62px;
	padding: 0 20px;
	font-size: 14px;
	color: #666;
	border-radius: 3px;
	font-weight: bold;
}
.guide .btn-submit {
	width: 200px;
	height: 34px;
	border: 1px solid #ccc;
	background: url(../images/bg-common.png) repeat-x 0 -62px;
	padding: 0 20px;
	font-size: 14px;
	margin: 5px 0 20px;
	color: #666;
	border-radius: 3px;
	font-weight: bold;
}

.table-a {
	width: 100%;
}
.table-a tr th {
	padding: 10px;
	border: 1px solid #ddd;
	text-align: right;
}
.table-a tr td {
	padding: 10px;
	border: 1px solid #ddd;
}

.table-pro table {
	border-collapse: separate;
    border-spacing: 4px;
}

.tzjy_table {
    border: 1px solid #F3E4C0;
    border-collapse: collapse;
    width: 100%;
}
.tzjy_table th {
    background: #FEF9E5;
    border: 1px solid #F3E4C0;
    color: #792600;
    height: 32px;
    line-height: 32px;
    padding-left: 12px;
}
.tzjy_table td {
    background: #FDFBEF;
    border: 1px solid #F3E4C0;
    color: #000;
    line-height: 1.5;
    padding: 8px 0 8px 12px;
}

/* 2.2.9 details
--------------------------- */
.content-wrap {
	padding: 0 20px 20px;
}
.content-wrap2 {
	padding: 0 20px 20px;
	border: 1px solid #F3E4C0;
	background: #fff;
	border-radius: 3px;
}
.content-wrap2 p {
	padding: 3px 0 0;
}
.content-wrap .grid-5 {
	width: 500px;
	margin: 10px auto 0;
}
.details-wrap {
    background: #FEFCF4;
    border: 1px solid #F5E9CB;
    padding: 15px;
    margin: 15px;
    border-radius: 3px;
}
.details-title {
	border-bottom: 1px solid #F6EACE;
	padding-bottom: 15px;
	text-align: center;
	margin-bottom: 15px;
}
.details-title h1 {
	font-size: 22px;
	padding-bottom: 10px;
	color: #980000;
}
.details-wrap2 {
    background: #fff;
    border: 1px solid #ccc;
    padding: 15px;
    margin: 15px;
    border-radius: 3px;
}
.details-wrap2 .details-title {
	border-bottom: 1px solid #ddd;
	padding-bottom: 15px;
	text-align: center;
	margin-bottom: 15px;
}
.details-title span {
	color: #999;
	padding: 0 10px;
}

.details-content h4 {
	text-indent: 2em;
}
.details-content p {
	color: #333;
    font-size: 14px;
    line-height: 1.8;
    text-indent: 2em;
    text-align: justify;
    text-justify: inter-ideograph;
}
.details-wrap .pages, .details-wrap2 .pages {
	font-size: 14px;
	border-top: 1px dotted #ccc;
}
.details-wrap .pages p, .details-wrap2 .pages p {
	padding-top: 10px;
}

.summary {
	background: #F6F7F8;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    position: relative;
    border-radius: 5px;
}
.summary .summary-icon {
    display: block;
	background: url(../images/zy.gif) no-repeat 0 0;
    width: 52px;
    height: 47px;
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 2;
}
.summary .summary-info {
	font-size: 14px;
	color: #707070;
    line-height: 1.8;
    padding: 15px 10px 15px 40px;
}

.statement, .statement2 {
	border: 1px dashed #ccc;
	padding: 10px;
	margin: 20px 0;
	color: #666;
	border-radius: 2px;
}
.statement {
	background: #fff;
}
.statement2 {
	background: #FEFCF4;
}

.online dl dt {
	font-size: 14px;
	padding-bottom: 10px;
	color: #723300;
}
.online dl dd,  .online p {
	line-height: 170%;
	color: #5F5F5F;
	font-size: 14px;
}
.online-form p span {
	font-size: 18px;
	font-weight: bold;
	color: #723300;
}
.online-qq a {
	padding-right: 20px;
}

/* gui price */
.gui-price {
	border:solid 1px #F0DDB0; 
	background: #fff;
	padding: 1px;
	height: 312px;
	overflow: hidden;
	margin-bottom: 12px;
}

/* friends */
.friends a {
	margin-right: 10px;
}

/* links */
#footer-links {
	border: 1px solid #F6EACE;
	background: #FEFCF4;
	margin-bottom: 12px;
	border-radius: 3px;
}
.footer-title {
	color: #1E50A2;
	border-bottom: 2px solid #B6C8D4;
	padding-bottom: 5px;
	font-weight: bold;
	font-size: 14px;
}
#footer-links dl {                                                                                      
	padding: 0 114px 0 5px;
	float: left;
}
#footer-links dl:last-child {
	padding-right: 0;
}
#footer-links dl dt {
	padding: 0 0 5px 25px;
	color: #723300;
	font-size: 14px;
	font-weight: bold;
	background: url(../images/icon-arrows2.png) no-repeat left 4px;
}
#footer-links dl dd {
	padding: 5px 0 0 25px;
}

/* footer tips */
.footer-tips {
	background: #FEFCF4;
	color: #838484;
	font-size: 14px;
	border-top: 1px solid #F6EACE;
	padding: 10px 0;
	text-align: center;
}
.footer-tips strong {
	color: #723300;
}


/* 2.3 Footer
----------------------------------------------- */
#footer {
	padding: 12px 0 5px;
	background: #F5EACE;
    border-top: 1px solid #fff;
    text-align: center;
    font-size: 14px;
}
#footer #about {
	color: #000;
}
#footer #about a {
	color: #000;
	padding: 0 4px;
}
#footer #about a:hover {
	color: #723300
}
#footer .tips {
	color: #784f2d;
	font-size: 14px;
	padding: 5px 0;
}
#copyright {
	color: #000;
}
#copyright a {
	color: #000;
}
 #copyright p {
	padding-bottom: 5px;
}


/* service box */
.service-box {
    position: absolute;
    right: 0;
    top: 300px;
    z-index: 9999;
}
.service-box-btn {
	display: block;
	width: 32px;
	height: 82px;
	overflow: hidden;
	background: #f00 url(../images/bg-service.png) no-repeat 0 0;
	text-indent: -9999px;
	float: right;
	box-shadow: -1px 1px 3px #666;
	cursor: pointer;
}
.service-box-list {
	float: right;
	border: 1px solid #ccc;
	background: #fff;padding: 10px;
	border-radius: 3px;
	box-shadow: 1px 1px 3px #666;
	width: 128px;
	display: none;
}
.service-box-list dl dt {
	width: 126px;
	height: 32px;
	text-indent: -9999px;
	background: #fff url(../images/bg-service.png) no-repeat 50% -89px;
	margin:  10px 0;
	overflow: hidden;
}
.service-box-list dl dd {
	border-bottom: 1px dotted #ddd;
	color: #666;
	width: 126px;
	text-align: center;
	padding: 5px 0; 
}
