<!DOCTYPE HTML>
<!--[if IE 6]><html class="ie6 ielt9 no-css3 no-js lte7" lang="en" dir="ltr"><![endif]-->
<!--[if IE 7]><html class="ie7 ielt9 no-css3 no-js lte7" lang="en" dir="ltr"><![endif]-->
<!--[if IE 8]><html class="ie8 ielt9 no-css3 no-js" lang="en" dir="ltr"><![endif]-->
<!--[if IE 9]><html class="ie9 ielt9 no-css3 no-js" lang="en" dir="ltr"><![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8) | !(IE 9) ]><!--><html lang="en" dir="ltr" class="no-js"><!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>投资贵金属-首选民泰的八大理由 - 民泰贵金属</title>
<link rel="shortcut icon" href="favicon.ico" />
<style type="text/css">
*{font-family:微软雅黑, 宋体; font-size:14px; margin: 0; padding: 0;}
body{background:url(images/advantage/top.jpg) no-repeat #F7F7F7 center top;}
body,ul{margin:0px; padding:0px;}
li{list-style:none;}
img{border:none;display: block;}
a:link{color: blue;}
table { border-collapse: collapse; border-spacing: 0; margin: 0 auto; }
</style>
</head>
<body>
<table width="984" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td height="352">&nbsp;</td>
    </tr>
    <tr>
        <td><img src="images/advantage/1.jpg" width="984" height="393" /></td>
    </tr>
    <tr>
        <td><img src="images/advantage/2.jpg" width="984" height="393" /></td>
    </tr>
    <tr>
        <td><img src="images/advantage/3.jpg" width="984" height="393" /></td>
    </tr>
    <tr>
        <td><img src="images/advantage/4.jpg" width="984" height="421" /></td>
    </tr>
    <tr>
        <td height="110" align="center" style="line-height:24px;">Copyright(C)2011-2012. <a href="http://www.mintai166.com/" title="民泰贵金属|黄金,白银,铂金,钯金贵金属现货交易">Mintai166.com.</a> ALL RIGHT RESERVED.<br />
        <a href="http://www.miitbeian.gov.cn/" target="_blank">沪ICP备12002745</a></td>
    </tr>
</table>
</body>
</html>