<!DOCTYPE HTML>
<!--[if IE 6]><html class="ie6 ielt9 no-css3 no-js lte7" lang="en" dir="ltr"><![endif]-->
<!--[if IE 7]><html class="ie7 ielt9 no-css3 no-js lte7" lang="en" dir="ltr"><![endif]-->
<!--[if IE 8]><html class="ie8 ielt9 no-css3 no-js" lang="en" dir="ltr"><![endif]-->
<!--[if IE 9]><html class="ie9 ielt9 no-css3 no-js" lang="en" dir="ltr"><![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8) | !(IE 9) ]><!--><html lang="en" dir="ltr" class="no-js"><!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>民泰银如意行情资讯终端IOS版 - 民泰贵金属</title>
<link rel="shortcut icon" href="favicon.ico" />
<style type="text/css">
*{font-family:微软雅黑, 宋体; font-size:14px; margin: 0; padding: 0;}
body{background:url(images/ios/body_bg.jpg) repeat-x #fff center top;}
body,ul{margin:0px; padding:0px;}
li{list-style:none;}
img{border:none;display: block;}
a:link{color: blue;}
table { border-collapse: collapse; border-spacing: 0; }
.auto { margin: 0 auto; }
</style>
</head>
<body>
<table class="auto" width="984">
  <tr>
    <td height="60" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><img src="images/ios/logo.jpg" width="186" height="57" /></td>
        <td width="300" align="center"><a href="index.html" target="_blank">返回民泰贵金属首页&gt;&gt;</a></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="347" valign="bottom" style="background:url('images/ios/banner.jpg') no-repeat;"><table width="320" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="right"><a href="http://app.91.com/Soft/Detail.aspx?Platform=iPhone&f_id=1387385" target="_blank"><img src="images/ios/btn.png" width="206" height="60" /></a></td>
        </tr>
      <tr>
        <td height="74">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="98" style="padding-left:20px; padding-right:20px; line-height:24px; font-size:13px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>民泰银如意行情资讯终端</strong>集成国内外贵金属行情、外汇指数、彭博路透实时资讯，民泰研究所在线实时解盘，分析师互动于一身，是民泰贵金属实盘客户服务平台，让您可以在看行情的同时，获得最实时的信息资讯，以及操作策略。完美支持天通银实盘手机交易。</td>
  </tr>
</table>
<table class="auto" width="984">
  <tr>
    <td><img src="images/ios/0.jpg" width="984" height="77" /></td>
  </tr>
  <tr>
    <td><img src="images/ios/01.jpg" width="984" height="315" /></td>
  </tr>
  <tr>
    <td><img src="images/ios/1.jpg" width="984" height="107" /></td>
  </tr>
  <tr>
    <td><img src="images/ios/5.jpg" width="984" height="307" /></td>
  </tr>
  <tr>
    <td><img src="images/ios/6.jpg" width="984" height="328" /></td>
  </tr>
  <tr>
    <td><img src="images/ios/2.jpg" width="984" height="307" /></td>
  </tr>
  <tr>
    <td><img src="images/ios/3.jpg" width="984" height="307" /></td>
  </tr>
  <tr>
    <td><img src="images/ios/4.jpg" width="984" height="307" /></td>
  </tr>
</table>
<table class="auto" width="984">
  <tr>
    <td height="80" align="center" style="color:#666; line-height:20px;">Copyright(C)2011-2012. Mintai166.com. ALL RIGHT RESERVED.<br />
    <a href="http://www.miitbeian.gov.cn/" target="_blank">沪ICP备12002745</a></td>
  </tr>
</table>
</body>
</html>