<!DOCTYPE HTML>
<!--[if IE 6]><html class="ie6 ielt9 no-css3 no-js lte7" lang="en" dir="ltr"><![endif]-->
<!--[if IE 7]><html class="ie7 ielt9 no-css3 no-js lte7" lang="en" dir="ltr"><![endif]-->
<!--[if IE 8]><html class="ie8 ielt9 no-css3 no-js" lang="en" dir="ltr"><![endif]-->
<!--[if IE 9]><html class="ie9 ielt9 no-css3 no-js" lang="en" dir="ltr"><![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8) | !(IE 9) ]><!--><html lang="en" dir="ltr" class="no-js"><!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>黄金价格本周总结以及下周走势预测 - 民泰贵金属</title>
<link rel="shortcut icon" href="favicon.ico" />
<link rel="stylesheet" href="css/reset.css" />
<link rel="stylesheet" href="css/public.css" />
<!--[if IE]>
<script src="js/ie/html5.js"></script>
<![endif]-->
<!--[if lt IE 9]>
<style type="text/css">.css3{behavior: url(js/ie/css3.htc);-pie-lazy-init: true; position: relative;}.ie6png{-pie-png-fix: true;}</style>
<script src="js/ie/ie9.js"></script>
<![endif]-->
<!--[if IE 6]>
<script src="js/ie/png.js"></script>
<script>DD_belatedPNG.fix('.pngfix, .pngfix img');</script>
<![endif]-->
<script src="js/ie/modernizr.js"></script>
<script src="js/jquery/jquery.js"></script>
<script>
var timeout         = 0;
var closetimer		= 0;
var ddmenuitem      = 0;
function Subnav_open()
{	Subnav_canceltimer();
	Subnav_close();
	ddmenuitem = $(this).find('ul').eq(0).css('visibility', 'visible');}
function Subnav_close()
{	if(ddmenuitem) ddmenuitem.css('visibility', 'hidden');}
function Subnav_timer()
{	closetimer = window.setTimeout(Subnav_close, timeout);}
function Subnav_canceltimer()
{	if(closetimer)
	{	window.clearTimeout(closetimer);
		closetimer = null;}}
$(document).ready(function()
{	$('#nav > ul > li').bind('mouseover', Subnav_open);
	$('#nav > ul > li').bind('mouseout',  Subnav_timer);});
document.onclick = Subnav_close;
</script>
</head>
<body>
<div class="gridsystem top-wrap cf">
	<header id="header" class="cf">
		<div class="header-top pngfix cf">
	    	<h1 id="logo" class="pngfix">
	    		<a href="index.html">
	    			<img src="images/logo.png" alt="民泰贵金属" title="民泰贵金属" />
	    		</a>
	    	</h1>
    	</div>
        <nav id="nav" class="css3 cf">
        	<ul>
        		<li><a href="index.html">首 页</a></li>
        		<li><a href="#">产品介绍</a>
					<ul>
						<li><a href="#">产品详情</a></li>
						<li><a href="#">投资特点</a></li>
						<li><a href="#">交易细则</a></li>
						<li><a href="#">投资案例</a></li>
						<li><a href="#">投资者权益保</a></li>
					</ul>
        		</li>
        		<li><a href="#">公司资质</a>
					<ul>
						<li><a href="#">公司简介</a></li>
						<li><a href="#">民泰优势</a></li>
						<li><a href="#">资质证书</a></li>
						<li><a href="#">所获荣誉</a></li>
						<li><a href="#">媒体报道</a></li>
						<li><a href="#">关于交易所</a></li>
					</ul>
        		</li>
        		<li><a href="#">民泰研究所</a>
					<ul>
						<li><a href="#">明星团队</a></li>
						<li><a href="#">原创研究</a></li>
						<li><a href="#">盘面播报</a></li>
						<li><a href="#">分析评论</a></li>
						<li><a href="#">市场要闻</a></li>
						<li><a href="#">行情中心</a></li>
					</ul>
        		</li>
        		<li><a href="#">新手指南</a>
					<ul>
						<li><a href="#">新手入门</a></li>
						<li><a href="#">开户指南</a></li>
						<li><a href="#">交易须知</a></li>
					</ul>
        		</li>
        		<li><a href="#">投资入门</a>
					<ul>
						<li><a href="#">投资入门</a></li>
						<li><a href="#">投资技巧</a></li>
						<li><a href="#">名师指导</a></li>
						<li><a href="#">常见问题</a></li>
						<li><a href="#">注册模拟帐户</a></li>
					</ul>
        		</li>
        		<li><a href="#">软件下载</a>
					<ul>
						<li><a href="#">软件下载</a></li>
						<li><a href="#">软件操作视频</a></li>
					</ul>
        		</li>
        		<li><a href="#">手机交易</a>
					<ul>
						<li><a href="#">IOS版下载</a></li>
						<li><a href="#">Android版下载</a></li>
					</ul>
        		</li>
        		<li><a class="acitve" href="news.html">媒体报道</a>
					<ul>
						<li><a href="#">媒体报道</a></li>
					</ul>
        		</li>
        		<li><a href="online.html">在线咨询</a>
					<ul>
						<li><a href="#">预约开户</a></li>
						<li><a href="#">开户流程</a></li>
						<li><a href="#">签约辅导</a></li>
						<li><a href="#">常见问题</a></li>
					</ul>
        		</li>
        	</ul>
        </nav>
    </header>
</div><!-- //header -->


<div class="main-wrap wrapper cf">
	<div id="container" class="gridsystem cf">
		<div class="container-wrap cf">

			<section class="grid-1 fl">
				<div class="topmenu">
					<dl>
						<dt>媒体报道</dt>
						<dd class="active"><a href="#">媒体报道</a></dd>
					</dl>
				</div>
				<div class="sidebar-menu">
					<ul>
						<li class="ksdh1"><a href="#">预约开户</a></li>
						<li class="ksdh2"><a href="#">在线咨询</a></li>
						<li class="ksdh3"><a href="#">注册模拟账户</a></li>
						<li class="ksdh4"><a href="#">软件下载</a></li>
						<li class="ksdh5"><a href="#">培训预约表</a></li>
					</ul>
			    </div>
			</section><!-- /sidebar -->
				
			<section class="grid-4 fr">
				<div class="subbanner">
					<img src="images/institute.jpg" alt="媒体报道" />
				</div>

				<div class="crumbs">
	            	本页位置：<a href="index.html">首页</a><span>&gt;&gt;</span><a href="news.html">媒体报道</a><span>&gt;&gt;</span>媒体报道 
	            </div>

	            <div class="details-wrap">
					<div class="details-title">
						<h1>黄金价格本周总结以及下周走势预测</h1>
						<p><span>发布时间：2013-5-27 10:32:12</span><span>来源：本站原创</span></p>
					</div>
					<div class="details-content">
						<p>本周国际现货黄金以1363.46美元开盘，黄金价格最高上试1414.22美元，最低下探1338.04美元，现货金报收1386.15美元，较上个交易周上涨26.21美元，涨幅1.93%，周K线呈现一根下行抵抗的小阳线。本周数据面没有多少意外，但黄金价格受消息面影响明显。从总体数据来看，美国经济数据趋于向好，继续显现复苏态势。但欧元区经济数据普遍持续糟糕，经济衰退依旧。但无论欧美，通胀指标都明显偏低，体现出宽松货币政策存在延续条件。</p>

					　　<p>欧元区方面：宽松的货币政策仍是大趋势</p>

					　　<p>本周公布的欧元区通胀指标也基本低于预期。低迷的经济数据与可控的通胀指标，意味着欧元区急需宽松货币政策刺激经济复苏。此外，本周英国也体现出进一步宽松的苗头，尽管本周英国央行决定维持0.5%的利率不变，但关于是否进一步QE已见分歧，英国央行货币政策委员会(MPC)中有三票提议放大QE规模，金恩、费舍尔和迈尔斯投票赞成将QE规模扩大250亿英镑。而英国央行也表示5月QE规模原本可能令市场感到意外。总体而言，在债务危机影响渐成过去的背景下，通过宽松的货币政策刺激经济复苏，是欧元区货币政策调控的大趋势。</p>
					　　<p>没有意外且重要的经济数据出炉，但消息面对市场的影响非常明显。刺激周一黄金价格结束7连阴先抑后扬的消息是当日公布俄罗斯央行在4月的增储，以及印度在四月金价大幅下跌情况下大肆进口黄金。数据显示，俄罗斯央行4月黄金储备增加20万盎司(6.2吨)，至3180万盎司。印度4月黄金及白银进口同比大增138%，相对而言，俄罗斯央行6.2吨的黄金增储微不足道，但体现出央行对待黄金的态度。四月印度金银的大肆进口体现出极强的民间需求。我想当公布中国4月的黄金消费数据时，恐将还有对金价的利好刺激。</p>
					　　<p>美国方面：伯南克“打太极” QE退出搁浅</p>
					　　<p>当然，本周对黄金价格影响最明显的还是美联储主席伯南克的讲话，其讲话内容对金价的影响可谓非常直观。伯南克起初讲话内容总体遵循近几个月口吻，认为就业市场总体依然疲软，可能损伤经济复苏进程，并认为未来几年的通胀将可控在2%下方。市场通过此讲话内容揣度伯南克或将延续此前数月对继续执行QE的强硬态度。使得国际金价在短短几分钟内快速跳涨2%。</p>
					　　<p>但随后伯南克讲话内容体现出对QE可能松动的语调，这是近几个月未曾有过的。伯南克表示，如果就业市场确实持续复苏，将逐步减缓资产购买。相对于鹰派认为越快退出QE越好的观点，伯南克表达出对退出QE时机与方法的谨慎。他认为退出策略不宜过快，没有必要为寻求“退出”而卖出资产，可以持有至到期。</p>
					　　<p>此外，伯南克表示根据未来经济数据，可能增加或减少购债规模。更表达出其关于不宜盲目寻求退出的观点。他认为美国财政政策(主要为政府强制减支)对经济可能带来放缓影响，盲目寻求退出可能使此前刺激经济复苏的效果前功尽弃。此外，其表示未来几年根本无需担心通胀。尽管伯南克总体依然表达出对退出谨慎的观点，但毕竟对延续QE已见松动口吻。此番讲话后，金价从1410美元上方又快速回落超过2%至1380美元下方。消息对金价的影响非常明显，也足见当前市场心态非常浮躁。</p>
					　　<p>如何看待本周伯南克的总体讲话内容呢？</p>
					　　<p>虽其关于延续QE的口吻已有所松动，但分析师认为仅仅是伯南克换了一种表述语气而已，即相对于前几个月对延续QE的强硬表态，本期讲话委婉了些。但其关于延续QE的决心应该没有动摇。虽当前美国经济复苏步履看似良好，但伯南克仍有关于美国经济可能受到内外交困的担心。对内担心财政政策对经济的不利冲击会有所延后，对外则依然担心全球金融不稳定，以及担心欧元区衰退可能形成的关联拖累。故美联储还应继续宽松，为仍有不确定冲击背景下的经济复苏保驾护航。一旦美国经济因过早撤出QE而再度陷入窘境，一切都将归罪伯南克。故在选择退出QE的时机和方式上，伯南克将寻求最具安全边际的退出策略，至少是没有今后被钻漏洞的退出策略。</p>
					　　<p>在分析师看来，伯南克还需要一段时间观察美国财政政策对经济的影响，还需要进一步洞悉欧元区是否已安然渡过金融危机。在退出时机上，分析师倾向伯南克至少希望看到欧元区经济衰退触底后才会真正考虑退出。金融动荡可能引起经济衰退，而经济超预期衰退又同样可能引发新的金融动荡。一旦欧元区经济衰退触底，再发生较大金融动荡的可能就不会很大，美联储在这种情况下选择退出时机会具备更好安全边际。</p>
					　　<p>此外，本周伯南克表示支持日本央行刺激经济的做法，认为日本央行的措施似乎会在刺激金融和实体经济增长上取得“双丰收”。美国对日本极端货币政策的做法表示赞同，就有纵容货币战争之嫌。故尽管当前美国似乎已开始思考宽松货币政策的退出问题，但未来1、2年的全球总体货币环境必将比现在更加宽松。这意味着黄金价格不会陷入没有底线的长期熊市。</p>
					　　<p>黄金价格下周走势分析：</p>
					　　<p>本周国际黄金结束日线七连阴后的企稳反弹是下行中继，还是二次探底呢？分析师倾向于前者。</p>
					　　<p>首先从日K线来看，4月国际黄金价格触及1321.5美元后的反弹，刚好以触及前几个月下行轨道线而宣告结束，30日均线也构成共振反压。如果金价延续反弹，首先将考验H2线与30日均线共振压力，再进一步向上则再度考验H1线压力。分析师倾向黄金价格向上有效突破1400的可能很小。</p>
					　　<p>假如黄金价格有效突破H1线压力而继续向上，则将测试周线图中1520美元附近的颈线压力。但结合4月黄金价格破位的方式来看，空头主力让金价破位耗费了巨大能量，相信不会轻易反弹回去解放被套多头。</p>
					　　<p>但周线图显示，黄金价格在1300/1330美元附近又存在多点中期共振强支撑：周K线年线的绝对支撑；2011年1月底的形态低点支撑；08年金价下探681.45美元后上行至1920.8美元整个波段的阻速线2/3线，和二分位支撑。故1300美元附近的支撑可能也不会很快“有效”丢失，但分析师倾向中期黄金价格会有效击穿1300美元而下行。</p>
					　　<p>本周全球最大的黄金上市交易基金(ETF)SPDRGoldTrust继续减持黄金超过20吨，上周对冲基金也继续在期货市场逢高布局空头。</p>
					</div>

					<div class="pages">
						<p>上一篇：<a href="#">伯南克讲话令金市纠结 黄金ETF仍在继续减仓</a></p>
						<p>下一篇：<a href="#">日股大跌引发投资者寻求避险 金价大涨1.8%</a></p>
					</div>
			    </div>

			</section><!-- /content -->

		</div>	
	</div><!-- //container -->
</div><!-- //main -->


<div id="footer-links" class="gridsystem cf">
	<div class="pd-10 cf">
		<dl>
			<dt>开户指南</dt>
			<dd><a target="_blank" href="#">出入金流程</a></dd>
			<dd><a target="_blank" href="#">开户咨询</a></dd>
			<dd><a target="_blank" href="#">开户流程</a></dd>
			<dd><a target="_blank" href="#">预约开户</a></dd>
		</dl>
		<dl>
			<dt>交易所规则</dt>
			<dd><a target="_blank" href="#">黄金交易规则</a></dd>
			<dd><a target="_blank" href="#">白银交易规则</a></dd>
			<dd><a target="_blank" href="#">现货交割规则</a></dd>
		</dl>
		<dl>
			<dt>三方托管流程</dt>
			<dd><a target="_blank" href="#">招商银行</a></dd>
			<dd><a target="_blank" href="#">工商银行</a></dd>
			<dd><a target="_blank" href="#">中信银行</a></dd>
			<dd><a target="_blank" href="#">光大银行</a></dd>
			<dd><a target="_blank" href="#">交通银行</a></dd>
			<dd><a target="_blank" href="#">农业银行</a></dd>
		</dl>
		<dl>
			<dt>文件下载</dt>
			<dd><a target="_blank" href="#">投资者确认函</a></dd>
			<dd><a target="_blank" href="#">客户协议书</a></dd>
			<dd><a target="_blank" href="#">风险揭示书</a></dd>
			<dd><a target="_blank" href="#">客户调查表</a></dd>
		</dl>
		<dl>
			<dt>帮助中心</dt>
			<dd><a target="_blank" href="#">常见问题</a></dd>
			<dd><a target="_blank" href="#">联系我们</a></dd>
		</dl>
	</div>
</div><!-- /footer links -->

<div class="friends mb-12">
	<div class="gridsystem cf">
		<div class="mod">
			<div class="hd">
				<h2>资金第三方存管合作银行</h2>
			</div>
			<div class="cf">
				<img src="images/icon-bank.png" alt="bank" usemap="#Map" />
				<map name="Map">
				<area target="_blank" href="http://www.mintai166.com/WEB/Fanli.aspx#tabs-5" coords="11,9,192,69" shape="rect">
				<area target="_blank" href="http://www.mintai166.com/WEB/Fanli.aspx#tabs-2" coords="260,10,440,70" shape="rect">
				<area target="_blank" href="http://www.mintai166.com/WEB/Fanli.aspx#tabs-4" coords="514,7,694,67" shape="rect">
				<area target="_blank" href="http://www.mintai166.com/WEB/Fanli.aspx#tabs-3" coords="774,7,954,67" shape="rect">
				<area target="_blank" href="http://www.mintai166.com/WEB/Fanli.aspx#tabs-6" coords="10,85,190,146" shape="rect">
				<area target="_blank" href="http://www.mintai166.com/WEB/Fanli.aspx#tabs-8" coords="258,83,439,143" shape="rect">
				<area target="_blank" href="http://www.mintai166.com/WEB/Fanli.aspx#tabs-7" coords="514,87,694,147" shape="rect">
				<area target="_blank" href="http://www.mintai166.com/WEB/Fanli.aspx#tabs-9" coords="772,84,954,144" shape="rect">
				</map>
			</div>
		</div>
	</div>
</div><!-- /bank -->

<div class="friends mb-12">
	<div class="gridsystem cf">
		<div class="mod2">
			<div class="hd2">
				<h2>合作单位</h2>
			</div>
			<div class="bd2 pd-10">
				<a target="_blank" href="http://www.tjpme.com/">天津贵金属交易所</a>
				<a target="_blank" href="http://finance.sina.com.cn/nmetal/">新浪黄金</a>
				<a target="_blank" href="http://gold.jrj.com.cn/">金融界黄金频道</a>
				<a target="_blank" href="http://finance.qq.com/gold/">腾讯黄金频道</a>
				<a target="_blank" href="http://gold.cnfol.com/">中金在线黄金网</a>
				<a target="_blank" href="http://www.muchinfo.cn/">多元世纪</a>
				<a target="_blank" href="http://www.gold678.com/">汇金网</a>
				<a target="_blank" href="http://www.fx678.com/">汇通网</a>
			</div>
		</div>
	</div>
</div><!-- /friends -->


<div class="footer-tips">
	<div class="gridsystem cf">
		<strong>风险提示：</strong>本网站所刊载文章均转载自公开信息，不构成对投资者的建议，所有文章、数据仅供参考，使用前请仔细阅读法律声明，风险自负
	</div>
</div><!-- /tips -->


<footer id="footer" class="wrapper cf">
	<div class="gridsystem cf">
    	<div id="about">
			<a target="_blank" href="/WEB/AboutUs.aspx">关于我们</a> | <a target="_blank" href="/WEB/ArticleList.aspx?CID=33">常见问题</a> | <a target="_blank" href="/WEB/RisksPrompt.aspx">风险提示</a> | <a target="_blank" href="/WEB/ArticleShow.aspx?ID=42">免责声明</a> | <a target="_blank" href="/WEB/AboutUs.aspx?ID=5">联系我们</a> | <a target="_blank" href="/WEB/ArticleShow.aspx?ID=41">隐私保密条款</a> | <a target="_blank" href="http://mail.dxdmc.com/">交易查证</a> | <a target="_blank" href="#">OA系统</a>
		</div>
		<p class="tips">贵金属交易有风险，入市需谨慎</p>
    	<div id="copyright">
			<p>Copyright(C)2011-2013. <a title="民泰贵金属|黄金,白银,铂金,钯金贵金属现货交易" href="http://www.166pm.com">166pm.com.</a>&nbsp;<a title="民泰贵金属|黄金,白银,铂金,钯金贵金属现货交易" href="http://www.mintai166.com">Mintai166.com.</a> ALL RIGHT RESERVED.</p>
			<p><a target="_blank" href="http://www.miitbeian.gov.cn/">沪ICP备12002745</a></p>
    	</div><!-- /copyright -->
    </div>
</footer><!-- //footer -->
</body>
</html>