@charset "UTF-8";

/*
Author: jibin
Author URI: http://www.houjibin.com/
Author mail: gagucooper@gmail.com
Version: 1.0
Last Updated: 2013-07-31
-------------------------------------------------------------- */

/*
 
1. GLOBAL STYLES
-------------------------------------------------------------------
1.0 Common
 
 
2. MAIN PAGE ELEMENTS
-------------------------------------------------------------------
2.1 Header
	2.1.1 Logo
	2.1.2 Nav
2.2 Container
	2.2.1 Banner
	2.2.2 Modules
	2.2.3 Tabs
	2.2.4 Menu
	2.2.5 Crumbs
	2.2.6 List
	2.2.7 Page
	2.2.8 Form
	2.2.9 details
2.3 Footer

*/


/* 1.0 Common
----------------------------------------------- */
.block { display: block; }
.hidden { display: none; }
.overflow { overflow: hidden; }
.inline { display: inline; }
.inline-block { display: -moz-inline-stack; display: inline-block; -webkit-text-size-adjust: none; /* for chrome zh_CN 解决间隙 */ font-size: 0; *display: inline; zoom: 1; }

.pos-rel { position: relative; }
.pos-abs { position: absolute; }

.fl { float: left; }
.fr { float: right; }
.fn { float: none; }
.al { text-align: left; }
.ac { text-align: center; }
.ar { text-align: right; }
.at { vertical-align: top; }
.am { vertical-align: middle; }
.ab { vertical-align: bottom; }

.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; font-size: 0; line-height: 0; }
.cf:before, .cf:after { content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.cf:after { clear: both; }
.cf { zoom: 1; }

.mb-25 { margin-bottom: 25px; }
.ie6 #nav ul li a, .ie6 .num li a {
	display: inline; /* 解决ie6双间距bug */
}

.mission h3 {
	width: 100%;
	height: 83px;
	overflow: hidden;
	text-indent: -9999px;
	background: url(../images/bg-mission.png) no-repeat;
}

/*
2. MAIN PAGE ELEMENTS
------------------------------------------------------------------- */
body { 
	width: 100%;
	height: 100%;
	color: #000;
	background: #000;
}

.wrapper {
	width: 100%;
}
.gridsystem {
	width: 900px;
	margin: 0 auto;
}
.grid-250 {
	width: 250px;
}
.grid-270 {
	width: 270px;
}

.wrap-home {
	background: url(../images/bg-home.jpg) repeat top center;
}
.wrap-about {
	background: url(../images/bg-about.jpg) repeat top center;
}
.wrap-approach {
	background: url(../images/bg-approach.jpg) repeat top center;
}
.wrap-cases {
	background: url(../images/bg-cases.jpg) repeat top center;
}
.wrap-services {
	background: url(../images/bg-services.jpg) repeat top center;
}
.wrap-insights {
	background: url(../images/bg-insights.jpg) repeat top center;
}
.wrap-insights-details {
	background: url(../images/bg-insights-details.jpg) repeat top center;
}
.wrap-youthology {
	background: url(../images/bg-youthology.jpg) repeat top center;
}
.wrap-careers {
	background: url(../images/bg-careers.jpg) repeat top center;
}
.wrap-contact {
	background: url(../images/bg-contact.jpg) repeat top center;
}
/* 2.1 Header
----------------------------------------------- */
#header {
	height: 130px;
}

/* 2.1.1 Logo
--------------------------- */
#logo {
    width: 230px;
    height: 54px;
    float: left;
    position: relative;
    top: 20px;
    left: 0;
}

/* 2.1.2 Nav
--------------------------- */
#nav {
	float: right;
}
#nav ul li {
	float: left;
	position: relative;
}
#nav ul li a {
	float: left;
	height: 74px;
	line-height: 122px;
	padding: 0 10px;
	overflow: hidden;
	color: #faa619;
	display: block;
	margin-left: 1px; 
}
#nav ul li a:hover, #nav ul li a.acitve {
	color: #fff;
	text-decoration: none;
	background: url(../images/bg-nav.png) repeat-x 0 0;
}
#nav ul li ul {	
	position: absolute;
	visibility: hidden;
    position: absolute;
    left: 0;
    top: 74px;
    background: url(../images/bg-black.png) repeat;
}
#nav ul li ul li {	
	float: none;
}
#nav ul li ul li a {	
	float: none;
	color: #999;
	height: 30px;
	line-height: 30px;
	display: block;
	margin-left: 0; 
}
#nav ul li ul li a:hover {
	color: #fff;
	text-decoration: none;
	background: none;
}

/* 2.2 Container
----------------------------------------------- */

/* 2.2.1 Banner
--------------------------- */
.scrollable-sidebar .items {
	position: absolute;
	height: 20000em;
}
.scrollable-sidebar {
	position: relative;
	overflow: hidden;
	height: 390px;
  	width: 300px;
}

.scrollable-customer {
	position: relative;
	overflow: hidden;
	width: 810px;
	height: 148px;
	float: left;
}
.scrollable-customer .items div {
	float: left;
}
.scrollable-customer .items {
	position: absolute;
	width: 20000em;
}
.scrollable-customer-wrap .icon-view {
    background: url(../images/icon-view.png) no-repeat;
    display: block;
    width: 30px;
    height: 30px;
    overflow: hidden;
    float: left;
    margin-top: 60px;
    text-indent: -9999px;
}
.scrollable-customer-wrapr .icon-prev {
    background-position: 0 0;
}
.scrollable-customer-wrap .icon-next {
    background-position: 0 -30px;
}

.mosaic-block {
	float:left;
	position:relative;
	overflow:hidden;
	background:#111 url(../images/loading2.gif) no-repeat center center;
}
.mosaic-backdrop {
	display:none;
	position:absolute;
	top:0;
	height:100%;
	width:100%;
	background:#111;
}
.mosaic-overlay {
	display:none;
	z-index:5;
	position:absolute;
	width:100%;
	height:100%;
	background:#111;
}
	
/*** Custom Animation Styles (You can remove/add any styles below) ***/
.fade .mosaic-overlay {
	background:url(../images/bg-yellow.png);
}
.bar .mosaic-overlay {
	bottom: -45px;
	height: 45px;
	background:url(../images/bg-yellow.png);
}
.bar2 .mosaic-overlay {
	bottom: -50px;
	height: 100px;
	background: url(../images/bg-yellow.png);
}
.bar2 .mosaic-overlay:hover {
	background: url(../images/bg-yellow.png);
}
/*** End Animation Styles ***/

.mosaic-block { width: 148px; height: 148px; overflow: hidden; }
.details { margin: 5px 10px; color:#fff; }	
.details h4 { font-size: 18px; font-weight: normal; }

.banner {
	background: #fff;
	overflow: hidden;
}
.banner1 {
	height: 460px;
	background: url(../images/banner-shadow.png) no-repeat bottom center;
}
.banner-wrap {
	background: #fff;
}
.banner1 .banner-wrap {
	height: 400px;
	margin-bottom: 60px;
	padding-top: 1px;
}
.banner1 .banner {
	width: 880px;
	height: 390px;
	position: relative;
	margin: 10px 10px 0;
}
.slider { 
	position: absolute;
	width: 10000px; 
}
.slider li { 
	float:left; 
}
.slider img { 
	width: 880px; 
	height: 390px; 
	display: block; 
}
.num { 
	position: absolute; 
	left: 0; 
	bottom: 0;
	width: 880px;
	height: 40px;
	overflow: hidden;
	background: #fff;
}
.num ul {
	padding-left: 395px;
}
.num ul li {
	float: left;
	padding-top: 5px;
}
.num ul li a {
	float: left;
	display: block;
	width: 13px;
	height: 13px;
	overflow: hidden;
	margin: 6px;
	background: url(../images/banner-point.png) no-repeat 0 0;
	text-indent: -9999px;
}
.num ul li.on a {
	background: url(../images/banner-point.png) no-repeat 0 -37px;
}


.details-silde {
	background: #fff;
	overflow: hidden;
	width: 840px;
	height: 440px;
	margin-bottom: 35px;
}
.details-silde .banner {
	width: 840px;
	height: 440px;
	position: relative;
}
.details-silde .slider { 
	position: absolute;
	width: 10000px; 
}
.details-silde .slider li { 
	float:left;
}
.details-silde .slider img { 
	width: 840px; 
	height: 440px; 
	display: block; 
}
.details-silde .num { 
	position: absolute; 
	left: 0; 
	bottom: 0;
	width: 840px;
	height: 50px;
	overflow: hidden;
	background: #fff;
	border-top: 1px solid #ededed;
}
.details-silde .num ul {
	padding-left: 360px;
}
.details-silde .num ul li {
	float: left;
	padding-top: 10px;
}
.details-silde .num ul li a {
	float: left;
	display: block;
	width: 13px;
	height: 13px;
	overflow: hidden;
	margin: 6px;
	background: url(../images/banner-point.png) no-repeat 0 0;
	text-indent: -9999px;
}
.details-silde .num ul li.on a {
	background: url(../images/banner-point.png) no-repeat 0 -37px;
}


.banner-mini {
	background: #fff;
	overflow: hidden;
	height: 170px;
	background: url(../images/banner-shadowmini.png) no-repeat bottom center;
}
.banner-mini .banner-wrap {
	background: #fff;
	height: 150px;
	margin-bottom: 21px;
	padding-top: 1px;
}
.banner-mini .banner {
	width: 240px;
	height: 140px;
	position: relative;
	margin: 10px 10px 0;
}
.banner-mini .slider { 
	position: absolute;
	width: 10000px; 
}
.banner-mini .slider li { 
	float:left;
	position: relative;
}
.banner-mini .slider li .sliderpic-info {
	width: 100%;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	color: #fff;
	text-indent: 10px;
	position: absolute;
	bottom: 16px;
	background: url(../images/bg-bannermininfo.png) no-repeat bottom center;
}
.banner-mini .slider li .sliderpic-info a {
	color: #fff;
	text-decoration: none;
	display: block;
	height: 30px;
	width: 100%;
}
.banner-mini .slider img { 
	width: 240px; 
	height: 140px; 
	display: block; 
}
.banner-mini .num { 
	position: absolute; 
	left: 0; 
	bottom: 0;
	width: 240px;
	height: 16px;
	overflow: hidden;
	background: #fff;
}
.banner-mini .num ul {
	padding-left: 100px;
}
.banner-mini .num ul li {
	float: left;
	padding-top: 5px;
}
.banner-mini .num ul li a {
	float: left;
	display: block;
	width: 5px;
	height: 5px;
	overflow: hidden;
	margin: 0 6px;
	background: url(../images/banner-pointmini.png) no-repeat 0 0;
	text-indent: -9999px;
}
.banner-mini .num ul li.on a {
	background: url(../images/banner-pointmini.png) no-repeat 0 -15px;
}


/* 2.2.2 Modules
--------------------------- */
.features {
	padding: 5px 10px 0 0;
	color: #fff;
	min-height: 412px;
}
.features h2 {
	width: 690px;
	height: 83px;
	overflow: hidden;
	position: relative;
	text-indent: -9999px;
    top: 32px;
    left: 166px;
	background: url(../images/title-home.png) no-repeat;
}
.features p {
	font-size: 14px;
	width: 544px;
    position: relative;
    top: 70px;
    left: 224px;
}
.features dl dd {
	color: #797979;
	padding-top: 5px;
}
/* index */

.about-video {
	margin: 0 30px 50px;
	padding: 10px;
	background: #fff;
}
.video-wrap {
	width: 820px;
	height: 410px;
	overflow: hidden;
	margin: 0 auto;
}
.title-about {
	margin: 0 30px 10px;
}
.title-about h2 {
	height: 211px;
	overflow: hidden;
	text-indent: -9999px;
	background: url(../images/title-about.png) no-repeat top center;
}
.about-mission {
	padding-bottom: 20px;
}
.about-mission h3 {
	background-position: center;
}

.about-info {
	margin: 0 30px 20px;
	height: 430px;
	color: #fff;
}
.about-info h3 {
	font-size: 24px;
	margin-bottom: 10px;
	font-weight: normal;
}
.about1 {
	float: left;
	width: 514px;
}
.about1 h4 {
	font-size: 12px;
	margin-bottom: 4px;
}
.about1 p {
	margin-bottom: 15px;
	text-align: justify;
	text-justify: inter-ideograph;
}
.about2 {
	float: right;
	width: 300px;
}
.about2 ul li {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 2px dotted #fff;
}
.about2 ul li:last-child {
	border-bottom: 0 none;
	margin-bottom: 0;
}
.pic-shadow1 {
	width: 62px;
	height: 80px;
	float: left;
	background: url(../images/pic-shadow.png) no-repeat bottom left;
	margin-right: 10px;
	overflow: hidden;
}
.about2-pic {
	width: 60px;
	height: 60px;
	overflow: hidden;
}
.about2-info {
	width: 228px;
	float: right;
}
.about2-info .douhao {
	color: #000;
	font-weight: bold;
}
.about2-info .txt-n {
 	text-align: justify;
	text-justify: inter-ideograph;
}
.about2-info .txt-i {
	font-style: italic;
}

.customer {
	height: 502px;
	padding: 15px;
	overflow: hidden;
	background: url(../images/bg-mod1.png) repeat-x top center;
}
.customer h3 {
	font-size: 24px;
	padding: 0 0 20px 20px;
	font-weight: normal;
}
.scrollable-customer-wrap {
	padding-bottom: 60px;
}
.scrollable-customer ul li {
    float: left;
    width: 148px;
    margin: 0 7px;
}
.scrollable-customer .customer-photo {
    width: 148px;
    height: 148px;
    overflow: hidden;
}

.partner {
	padding: 0 28px 0 37px;
}
.partner ul li {
	float: left;
	width: 100px;
	height: 40px;
	overflow: hidden;
	margin: 0 15px 15px 0;
	text-align: center;
}

.inline-content {
	color: #4c4c4c;
}
.inline-content a {
	color: #000;
}
.inline-content h2 {
	font-size: 30px;
	text-align: center;
	padding: 0 48px 40px;
	font-weight: normal;
	color: #000;
}
.inline-content h3 {
	font-size: 24px;
	color: #faa619;
	margin-bottom: 20px;
}
.inline-content h4 {
	font-size: 18px;
	color: #4c4c4c;
	font-weight: normal;
}
.inline-content p {
	color: #4c4c4c;
	margin-bottom: 20px;
	padding-right: 30px;
	text-align: justify;
	text-justify: inter-ideograph;
}
.inline-content ul {
	margin-bottom: 20px;
}
.inline-content ul li {
	padding: 3px 0;
}
/* about */

.approach {
	padding: 10px 80px 10px 20px;
}
.approach h2 {
	font-size: 24px;
	color: #faa619;
	margin-bottom: 40px;
}
.approach p {
	color: #fff;
	font-size: 14px;
	margin-bottom: 20px;
	text-align: justify;
	text-justify: inter-ideograph;
}
.approach-info {
	height: 630px;
	position: relative;
	background: url(../images/bg-triangle.png) no-repeat top center;
}
.approach-pic {
	width: 270px;
	height: 270px;
	overflow: hidden;
	border-radius: 500px;
}
.approach-pic img {
	width: 270px;
	height: 270px;	
	border-radius: 500px;
}
.approach-info a:hover {
	text-decoration: none;
}
.approach-info .mosaic-backdrop, .approach-info .mosaic-overlay {
	background: none;
}
	
/*** Custom Animation Styles (You can remove/add any styles below) ***/
.approach-info .bar2 .mosaic-overlay {
	bottom: 0;
	height: 90px;
	background: url(../images/bg-roundb.png) no-repeat 50% 1px;
}
.ie7 .approach-info .bar2 .mosaic-overlay {
	height: 90px! important;
}
.approach-info .bar2 .mosaic-overlay:hover {
	height: 277px;
	background: url(../images/bg-round.png) no-repeat center 5px;
}
.ie7 .approach-info .bar2 .mosaic-overlay:hover {
	height: 277px! important;
}
/*** End Animation Styles ***/
.approach-imgwrap {
	padding: 7px;
	background: #faa619;
	border-radius: 50%;
	overflow: hidden;
	position:relative;
	width: 270px; 
	height: 270px; 
	position:relative;
}
.approach-imgwrap .mosaic-block { 
	width: 270px; 
	height: 270px;
	overflow: hidden;
	background: none;
}
.approach-info .details { 
	color: #fff;
	margin: 30px 40px;
	font-size: 16px;
	text-align: center;
}	
.approach-info .details p { 
	margin-bottom: 20px;
}
.approach-info .mosaic-block1 {
	position: absolute;
	left: 292px;
    top: 0;
}
.approach-info .mosaic-block2 {
	position: absolute;
	left: 106px;
    top: 307px;
}
.approach-info .mosaic-block3 {
	position: absolute;
	left: 504px;
    top: 307px;
}
/* approach */

.cases-info {
	min-height: 925px;
}
.cases-pic {
	width: 230px;
	height: 230px;
	overflow: hidden;
	border-radius: 50%;
}
.cases-pic img {
	border-radius: 500px;
}
.cases-info a:hover {
	text-decoration: none;
}
.cases-info .mosaic-backdrop, .cases-info .mosaic-overlay {
	background: none;
}
	
/*** Custom Animation Styles (You can remove/add any styles below) ***/
.cases-info .bar2 .mosaic-overlay {
	bottom: 0;
	height: 70px;
	background: url(../images/bg-round3b.png) no-repeat 50% 1px;
}
.ie7 .cases-info .bar2 .mosaic-overlay {
	height: 70px! important;
}
.cases-info .mosaic-block:hover .details p {
	color: #000;
}
/*** End Animation Styles ***/
.imgwrap {
	padding: 7px;
	background: #faa619;
	float: left;
	margin: 25px 28px;
	box-shadow: 0 0 50px #000;
	border-radius: 50%;
	overflow: hidden;
	position:relative;
	width: 230px; 
	height: 230px; 
}
.ie6 .imgwrap {
	display: inline;
}
.cases-info .mosaic-block { 
	width: 230px; 
	height: 230px;
	overflow: hidden;
	background: none;
}
.cases-info .details { 
	color: #fff;
	margin: 10px 30px;
	font-size: 14px;
	text-align: center;
}	
.cases-info .details p { 
	margin-bottom: 20px;
}
/* cases */

.careers {
	padding: 5px 0 0 30px;
	color: #fff;
}
.careers h2 {
	height: 134px;
	overflow: hidden;
	margin-bottom: 10px;
	text-indent: -9999px;
	background: url(../images/title-careers.png) no-repeat top left;
}
.careers p {
	font-size: 18px;
	margin-bottom: 20px;
	padding-left: 8px;
}
.careers-mission h3 {
	background-position: 38px center;
}
.mail-info {
	height: 306px;
	margin-left: 38px;
	padding: 25px 35px;
	overflow: hidden;
	background: url(../images/bg-mail.png) no-repeat top left;
}
.mail-info h3 {
	font-size: 18px;
	font-weight: normal;
}
.mail-info ul {
	margin-bottom: 15px;
}
.mail-h3 {
	margin-bottom: 15px;
	letter-spacing: -1px;
}
.icon-mail {
	padding-left: 40px;
	background: url(../images/icon-mail.png) no-repeat;
}
.icon-email {
	height: 20px;
	line-height: 20px;
	background-position: 0 0;
	margin-bottom: 15px;
}
.icon-tips {
	height: 26px;
	line-height: 32px;	
	background-position: 0 -43px;
	color: #4a4a4a;
}
/* careers */

.title-youthology {
	padding-bottom: 5px;
	background: url(../images/bg-line.png) repeat-x bottom;	
	position: relative;
}
.title-youthology h2 {
	font-size: 18px;
	font-weight: normal;
	color: #fff;
	padding-left: 30px;
}
.title-youthology img {
	position: absolute;
	left: -20px;
	top: 8px;
}
.youthology {
	margin: 10px 40px 30px;
}
.youthology h2 {
	opacity: 0.5;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
}

.youthology-info {
	height: 420px;
	margin: 0 10px;
	padding: 30px 50px 20px;
	overflow: hidden;
	color: #fff;
	background: url(../images/bg-youthologyinfo.png) no-repeat top left;	
}
.youthology-info h3 {
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 15px;
}
.youthology-info p {
	font-size: 14px;
	margin-bottom: 20px;
}
.youthology-info ul {
	margin-bottom: 40px;
	letter-spacing: -1px;
}
.youthology-info ul li {
	padding-bottom: 3px;
}
.btn-large {
	display: block;
	float: left;
	height: 64px;
	line-height: 64px;
	overflow: hidden;
	text-indent: -9999px;
	margin-right: 40px;
	background: url(../images/btn-large.png) no-repeat;
}
.ie6 .btn-large {
	display: inline;
}
.btn-large1{
	width: 216px;
	background-position: 0 -130px;
}
.btn-large2 {
	width: 332px;
	background-position: 0 0;
}
.btn-large3 {
	width: 259px;
	background-position: 0 -65px;
}
.btn-large4 {
	width: 216px;
	background-position: 0 -195px;
}

.youthology-event {
	color: #fff;
	margin: 0 10px 60px 40px;
}
.event1 {
	float: left;
	width: 514px;
}
.event1 .title-youthology {
	height: 42px;
	line-height: 60px;
	margin-bottom: 10px;
}
.event1 p {
	margin-bottom: 15px;
	text-align: justify;
	text-justify: inter-ideograph;
}
.event1 dl {
	font-size: 14px;
}
.event2 {
	float: right;
	width: 300px;
	padding-top: 20px;
}
.event2 p {
	font-size: 18px;
	margin-bottom: 15px;
}
/* youthology info */

.insights-info {
	background: #ededed;
	position: relative;
	top: -30px;
	padding: 10px;
	font: 12px/1.5 Microsoft YaHei, 微软雅黑, tahoma, arial, \5b8b\4f53, sans-serif;
}
.insights-info h3 {
	font-size: 18px;
	height: 30px;
	line-height: 30px;
	color: #000;
	text-indent: 15px;
	padding: 4px 0 8px;
	margin-bottom: 20px;
	background: url(../images/bg-line2.png) repeat-x bottom;
}
.insights-info ul li {
	width: 122px;
	height: 150px;
	margin: 
	overflow: hidden;
	float: left;
	margin: 0 8px 5px 16px;
	background: url(../images/bg-pic.png) no-repeat  0 0;
}
.insights-info ul li a {
	color: #000;
}
.insights-info ul li img {
	border-radius: 3px;
	margin: 3px;
}
.insights-info ul li p {
	height: 30px;
	line-height: 30px;
	overflow: hidden;
}
/* insights info */

.contact {
	padding: 0 35px;
	color: #000;
}
.contact h2 {
	font-size: 24px;
	margin-bottom: 15px;
}
.contact p {
	font-size: 14px;
	margin-bottom: 15px;
	text-align: justify;
	text-justify: inter-ideograph;
}
.contact-people {
	padding: 0 35px 30px;
}
.contact-people ul li {
	float: left;
	width: 170px;
	margin: 10px 50px 0 0;
}
.contact-people ul li:last-child {
	margin-right: 0;
}
.contact-photo {
	width: 148px; 
	height: 148px; 
	overflow: hidden;
	border: 10px solid #fff; 
	border-radius: 50%;
	box-shadow: 0 0 5px #333;
}
.contact-photo img {
	border-radius: 500px;
}
.contact-people dl {
	padding-left: 5px;
}
.contact-people dl dt {
	padding: 15px 0 10px;
}
.contact-people dl dt span {
	font-size: 20px;
	padding-right: 10px;
	margin-bottom: 15px;
}
.contact-people a.yellowlink {
	background: #faa619;
	display: block;
	float: left;
	padding: 3px 5px;
	color: #fff;
	color: 14px;
	margin-top: 10px;
}

.contact-info {
	min-height: 380px;
	padding: 5px 50px 5px 0;
	background: #faa619 url(../images/bg-corner.png) no-repeat right bottom;
	color: #fff;
	margin-bottom: 70px;
}
.contact-info h3 {
	font-size: 18px;
	font-weight: normal;
	height: 30px;
	line-height: 30px;
	margin-bottom: 10px;
}
.contact-info p {
	margin-bottom: 15px;
	text-align: justify;
	text-justify: inter-ideograph;
}
.contact-info a {
	color: #fff;
	text-decoration: underline;
}
.info1, .info2, .info3 {
	float: left;
	padding: 0 20px;
	min-height: 380px;
}
.info1 {
	width: 260px;
	border-right: 1px solid #fff;
}
.info2 {
	width: 250px;
	border-right: 1px solid #fff;
}
.info3 {
    width: 238px;
	padding-right: 0;
}
/* contact */

.details-wrap {
	background: url(../images/bg-gray.png) repeat;
	margin-bottom: 30px;
}
.details-sildeon {
	padding: 40px 15px 0;
}
.details-sildeon ul li {
	width: 122px;
	height: 122px;
	margin: 
	overflow: hidden;
	float: left;
	margin: 8px 20px;
	background: url(../images/bg-pic.png) no-repeat  0 0;
}
.details-sildeon ul li img {
	border-radius: 3px;
	margin: 3px;
}
.scrollable-pic .items {
    clear: both;
    position: absolute;
    width: 20000em;
}
.scrollable-pic img {
    float: left;
}
.scrollable-picwrap a.browse {
    background: url(../images/hori_large.png) no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 1px;
    height: 30px;
    margin: 50px 10px;
    width: 30px;
}
.scrollable-picwrap a.right {
    background-position: 0 -30px;
    clear: right;
    margin-right: 0;
}
.scrollable-picwrap a.right:hover {
    background-position: -30px -30px;
}
.scrollable-picwrap a.right:active {
    background-position: -60px -30px;
}
.scrollable-picwrap a.left {
    margin-left: 0;
}
.scrollable-picwrap a.left:hover {
    background-position: -30px 0;
}
.scrollable-picwrap a.left:active {
    background-position: -60px 0;
}
.scrollable-picwrap a.disabled {
    visibility: hidden !important;
}
.details-sildeon .scrollable-customer {
	width: 790px;
}

.details-title {
	background: url(../images/bg-line3.png) no-repeat bottom center;
	padding-bottom: 20px;
	margin-bottom: 25px;
}
.details-title h2 {
	font-size: 24px;
}
.details-title span {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 0;
	color: #777;
}
.details-content {
	color: #000;
	padding: 30px;
}
.details-content p {
	text-align: justify;
	text-justify: inter-ideograph;
	margin-bottom: 20px;
}
.details-content .download {
	border-top: 1px solid #aaa;
	padding: 15px 0 20px;
	margin-top: 100px;
}
.details-content .download a.btn-large {
	float: right;
	margin-right: 0;
}
/* details */


/* 2.3 Footer
----------------------------------------------- */
#footer {
	background: #F5A619;
	color: #000;
	background: url(../images/bg-yellow.png) repeat top center;
	padding-top: 25px;
}

#footer-links {
	padding: 0 20px;
}
#footer-links .grid-270 {
	margin-right: 35px;
}
#footer-links .grid-270 dl dt {
	height: 28px;
	line-height: 28px;
	overflow: hidden;
	font-size: 18px;
	color: #faa619;
	background: url(../images/bg-black.png) repeat;
	padding-left: 15px;
	margin-bottom: 15px;
}
#footer-links .grid-270 dl dd {
	padding-left: 15px;
}
#footer-links .grid-270 dl dd a {
	color: #000;
	font-size: 14px;
}
#footer-links .featured {
	background: url(../images/bg-black.png) repeat;
}
#footer-links .featured dl {
	padding: 8px;
}
#footer-links .featured dl dt {
	height: 28px;
	line-height: 28px;
	overflow: hidden;
	font-size: 18px;
	color: #faa619;
	padding-left: 15px;
	margin-bottom: 15px;
}
#footer-links .featured dl dd {
	float: left;
	width: 105px;
	height: 70px;
	overflow: hidden;
	margin: 0 6px 12px;
}

#copyright {
	padding: 0 20px 30px 20px;
}
#copyright p {
	float: left;
	color: #515151;
}
#copyright span {
	padding: 0 5px;
}
#copyright ul {
	float: right;
}
#copyright ul li {
	float: left;
	padding: 12px 30px 0 0;
}
#copyright ul li a {
	float: left;
	font-size: 14px;
	color: #515151;
}
